*, *::before, *::after {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-weight: normal;
}

body {
        padding: 1; 
        margin: 2;
        background: linear-gradient(to right, #52748abb, #00ffa600);
}


.container {
    display: block;
    align-items: center;
    justify-content: center;
    background-color: 0;
    color: grey;
    border: 4px solid black;
    padding: 10px;
    font-size : large;
    font-style: normal;
    font-weight: normal;
    width: 50%;
    
    
}

.table,th, td{
    border: 2px solid black;
    padding: 30px;
    border-collapse: collapse;
    border-radius: 10px;
    width: 5%;
    height: 5%;
    background-color: azure;
    
    
        }

.table,th{
    font-weight: bolder;
    font-size: larger;
    width: 50%;

}   

.calculator-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:olive;
    color: white;
    border: 4px solid black;
    padding: 30px;
    font-size : large;
    font-style: normal;
    font-weight: normal;
    width: 40%;
    height: 30%;
}


input[type=text]{
width: 80%;
padding: 5px;
font-size: 18px;

}

button{
    padding: 5px;
    font-size: 20px;
    width: 100px;
}

select{
font-size: 20px;
padding: 5px;
background: #e0d3e8;

}
 
.calculator-form  {
    width: 100%;
    margin: auto;
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;

}
