*, *::before, *::after {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-weight: normal;
}

body {
        padding: 1; 
        margin: 1;
        background: linear-gradient(to right, #52748abb, #00ffa600);
}