*, *::before, *::after {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-weight: normal;
}

body {
        padding: 1; 
        margin: 1;
        background: linear-gradient(to right, #52748abb, #00ffa600);
}

.calculator-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    color: white;
    border: 4px solid black;
    padding: 30px;
    font-size : large;
    font-style: normal;
    font-weight: normal;
    width: 100%;
}
.calculator-container {
    max-width: 30%;
    max-height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: 0;
    color: grey;
    border: 4px solid black;
    padding: 30px;
    font-size : large;
    font-style: normal;
    font-weight: normal;
    width: 50%;
    grid-row: inherit;
}

.table,th, td{
    border: 2px solid black;
    ruby-span: inherit;


}